@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

body {
  background-image: url('https://static.vecteezy.com/system/resources/previews/007/190/729/original/abstract-psychedelic-retro-wave-background-free-vector.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
}

button {
  background-color: #4485c2;
  color: white;
  height: 40px;
  width: 50px;
  font-size: 30px;
  font-family: 'Bungee Shade', cursive;
  cursor: pointer;
  padding-bottom: 40px;
}



header {
  background-color: #e0d1a8;
  width: 100vw;
  display: flex;
  align-items: center;
  height: 75px;
}

h1 {
  font-family: 'Bungee Shade', cursive;
  color: #4485c2;
  font-size: 50px;
  justify-self: center;
  line-height: 30px;
}

section {
  justify-self: flex-end;
}

div .Game-container {
  background-color: #e0d1a8;
  height: 1000px;
  width: 500px; 
}

div .Keyboard {
  background-color: #e0d1a8;
  height: 500px;
  width: 1000px;
}